.weather-app {
  max-width: 700px;
  margin: 50px auto 10px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 35%);
  border-radius: 30px;
  color: #3d6596;
  padding: 70px 70px 55px;
  font-family: "Montserrat", sans-serif, "Baloo 2", cursive;
}

.search-section {
  margin-bottom: 30px;
}
.search-field:checked {
  text-decoration: underline;
}
.btn {
  width: 100%;
}
.btn.btn-primary {
  background-color: #fec9e5;
  border: none;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #79a4e7;
  border: none;
  color: #fff;
}
.btn.btn-primary:hover {
  background-color: #79a4e7;
}
.btn.btn.btn-secondary:hover {
  background-color: #fec9e5;
}

.city {
  margin-bottom: 30px;
}
.city-current-updated {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
  color: #999;
}
.h1 {
  font-size: 35px;
}
.precipitation {
  color: #999;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0;
}
.weather-icon-current {
  padding: 16px;
}

.img-icon {
  max-width: 100px;
  max-height: 70px;
}
.units {
  font-size: 18px;
  position: relative;
  top: 14px;
  color: #79a4e7;
}
.units-min {
  color: #fec9e5;
}
.value-max,
.value-min,
.separator {
  vertical-align: top;

  list-style: 43px;
  font-size: 70px;
  line-height: 90px;
}
.separator {
  font-size: 65px;
  opacity: 0.2;
}
.value-max {
  color: #79a4e7;
}
.value-min {
  color: #fec9e5;
}
.conditions {
  font-size: 15px;
  line-height: none;
  color: #999;
  text-align: left;
  padding-top: 20px;
}

.weather-forecast-date {
  margin-bottom: 10px;
  line-height: 16px;
  font-size: 16px;
  color: #999;
}
.weather-forecast-icon {
  box-sizing: border-box;
  max-width: 50px;
  min-height: 35px;
  margin: 0 auto 10px;
  color: #3d6596;
  vertical-align: top;
}
.weather-forecast-temp {
  font-size: 20px;
  color: #3d6596;
}
.footer {
  text-align: center;
  font-size: 14px;
}
